figure.dots-game {
  width: 600px;
  height: 600px;
  margin: auto;
}

h2.scoreboard {
  padding: 15px;
  text-align: center;
}
h2.scoreboard > span {
  padding: 0 20px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  /*vertical-align: bottom;*/
  width: 100px;
  height: 600px;
  float: left;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  transition: all 0.1s;
}

li:hover {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.1s;
}

li.active {
  transition: all 0.1s;
}

li.purple {
  background-color: #9d5ab7;
}

li.purple.active {
  border: 10px solid rgb(157, 90, 183);
  border: 10px solid rgba(157, 90, 183, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

li.green {
  background-color: #89ed90;
}

li.green.active {
  border: 10px solid rgb(137, 237, 144);
  border: 10px solid rgba(137, 237, 144, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

li.blue {
  background-color: #8abdff;
}

li.blue.active {
  border: 10px solid rgb(138, 189, 255);
  border: 10px solid rgba(138, 189, 255, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

li.red {
  background-color: #f15c3b;
}

li.red.active {
  border: 10px solid rgb(241, 92, 59);
  border: 10px solid rgba(241, 92, 59, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

li.yellow {
  background-color: #e7dd00;
}

li.yellow.active {
  border: 10px solid rgb(231, 221, 0);
  border: 10px solid rgba(231, 221, 0, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
