figure.dots-game {
  width: 600px;
  height: 600px;
  margin: auto;
}

h2.scoreboard {
  padding: 15px;
  text-align: center;
}
h2.scoreboard > span {
  padding: 0 20px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  width: 100px;
  float: left;
  padding: 0;
  list-style: none;
}

li {
  width: 100px;
  height: 100px;
  margin: auto;
  transition: all 0.1s;
}

li > div {
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

li > div:hover {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.1s;
}

div.active {
  width: 60px;
  height: 60px;
  transition: all 0.1s;
}

div.purple {
  background-color: #9d5ab7;
}

div.green {
  background-color: #89ed90;
}

div.blue {
  background-color: #8abdff;
}

div.red {
  background-color: #f15c3b;
}

div.yellow {
  background-color: #e7dd00;
}
