@mixin default-font {
  text-align: center;
  font-family: 'Nunito';
}

/* RESET */
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, figure, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
}

.content {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.game-text {
  @include default-font;
  .game-title {
    color: rgb(158, 158, 158);
    margin-top: 10px;
    font-size: 2.625rem;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.7;
    cursor: default;
  }
}

.canvas-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.credits {
  @include default-font;
  font-size: 1.2rem;
  a {
    color: rgb(138, 189, 255);
  }
}
